.cabecalho_menu-hamburguer{
    background-image: url(/imagens/Menu.svg.png);
}
div-1{
    display:flex;
    justify-content: space-around;
}
.cabeçalho{
    background: var(--branco );
    display: flex;
    align-items: center;

}

di-1{
    display: flex;
    justify-content: space-around;

}
h1{
    display:none;
}
@media screen and (min-width: 1024px){
 h1{
    display: block;font-size: 30px; ;
 }   
}