.cabecalho_menu-hamburguer{
    background-image: url(/imagens/Menu.svg.png);
}
div-1{
    display:flex;
    justify-content: space-around;
}
.cabeçalho{
    background: var(--branco );
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

di-1{
    display: flex;
    align-items: center;

}
h1{
    display:none;
}
.Lista-menu{
    display: block;
    position: absolute;
    top:100%;
}
lista-menu-titulo..lista-menu-item{
    padding: 1em;
    background-color: var(--branco);
}
